.navbar{
  padding: 0;
  /* margin: 0; */
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: #C3DDF9; */
}

.link{
  color: black;
  margin: 70px;
  font-weight: 700;
  text-decoration: none;
  padding: 0%;
  font-size: 20px;

}

.logoLink{
  text-decoration: none; 

}


.dropdown{
  position: relative;
  /* Don't think this works */

}

.menuTab{
  background: none;
  border: none;
  color: black;
  margin: 70px;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}


.dropdownLinks{
  padding: 12px 16px;
  display: block;
  position: relative;
} 








/* .menuTab{
  background: none;
  border: none;
  color: black;
  margin: 70px;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

.dropDownMenuTab{
  position: absolute;



}

.dropDownMenuTab button{
  padding: 12px 16px;
  display: block;
  position: relative;
} */








